/* Estilos generales */

/* Media query para dispositivos pequeños, como smartphones en orientación vertical */
@media (max-width: 480px) {
  /* Ajusta aquí los estilos según tus necesidades */
}
  
  /* Media query para dispositivos medianos, como smartphones en orientación horizontal y tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  /* Ajusta aquí los estilos según tus necesidades */
}
  
/* Media query para dispositivos grandes, como tablets en orientación horizontal y computadoras de escritorio */
@media (min-width: 1025px) {
/* Ajusta aquí los estilos según tus necesidades */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Esto ocultará cualquier desbordamiento horizontal */
}
/* Estilos para el encabezado */
header{
  height: 130px;
  position: absolute; 
  width: 100%; /* Cubre todo el ancho de la página */
  top: 0; /* Alinea el encabezado en la parte superior */
  background-color: rgba(28, 41, 75, 0.9); /* Color de fondo con transparencia */
  z-index: 20000; /* Asegura que el encabezado esté por encima del contenido*/
  margin-left: 0;
  margin-right: 0;
}


.encabezado {
  background-color: #1C294B;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.encabezado h1 {
  margin: 0;
}

.encabezado nav ul {
  list-style: none;
  padding: 0;
}

.encabezado nav ul li {
  display: inline;
  margin-right: 80px; /* Aumentamos el margen derecho para separar elementos */
  margin-left: 80px; /* Agregamos un margen izquierdo para espaciado */
}

.encabezado nav ul li a {
  color: white;
  text-decoration: none;
  position: relative; /* Agregamos posición relativa para que funcionen las imágenes absolutas */
  display: inline-block;
  padding: 10px; /* Agregamos un poco de espacio para la imagen */
}

.encabezado nav ul li a img {
  width: 80px;
  height: 80px;
  position: absolute; /* Posición absoluta para las imágenes */
  bottom: -80px;
  right: 100px;
  margin: 0;
  left: 400px;
  z-index: 1000; /* Asegura que el encabezado esté por encima del contenido*/

}

.logo {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior */
  align-items: right; /* Ajusta la distancia desde la parte derecha */
}
/* Estilos para el bloque de banner */
.banner {
  background-color: #000A23; /* Color de fondo azul oscuro */
  padding: 100px 0; /* Espaciado interno vertical */
  text-align: left;
  width: 100%;
  height: 60%;
  position: absolute;
}

.banner {
  text-align: center;
}

.three-color-title h1 {
  font-size: 3rem;
  position: relative;
  display: inline-block;
}

.white-text,
.red-text,
.blue-text {
  position: absolute;
  top: 50px;
  left: -800px;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  font-size: 150px;
}

.white-text {
  color: white;
  z-index: 3;
}

.red-text {
  color: rgb(172, 7, 150);
  z-index: 2;
  transform: translateY(5px);
}

.blue-text {
  color: rgb(0, 0, 146);
  z-index: 1;
  transform: translateY(8px);
}

.descripcion {
  background-color: #f3e8d6; /* Color hueso/crema */
  padding: 30px;
  border-radius: 20px;
  margin-top: 200px;
  width: 800px;
  position: relative;
  margin-left: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 30px;
}

.descripcion p {
  margin: 0px;
}

.img{
  height: 200px;
  margin-top: -450px;
  margin-left:900px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue';
}
/* Estilos para centrar la imagen */
.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Ajusta la altura según tus preferencias */
}

/* Estilos para la imagen */
.centered-image img {
  max-width: 100%; /* Ajusta el tamaño de la imagen según tus preferencias */
  max-height: 100%;
}


.container{
  align-items: center;
  height: 100px;
  background-color: #1C294B;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;

}

.container::after{
  content: '';
  background-color: #E40280;
  height: 60px;
  width: 8px;
  margin-left: 67%;
  position: absolute;

}


.container-formulario{
  background-color: #0184A9;
  width: 220px;
  height: 50px;
  margin-left: 30px;
  display: flex;
  padding: 10px;
  border-radius: 23px;
  box-shadow: 9px 9px 0px 0px #02537D;
  position: absolute;
}

.container-formulario::after{
  content: '';
  background-color: #02537D;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  margin-top: -25px;
  margin-left: -10px;
  z-index: 1000;
}

.formulario{
  margin-top: -20px;
  margin-left: 30px;
  color: #fff;
  font-size: 25px;
}



.redes a{
  color: white;
  text-decoration: none;
  position: relative; /* Agregamos posición relativa para que funcionen las imágenes absolutas */
  display: inline-block;
  padding: 50px; /* Agregamos un poco de espacio para la imagen */
}

.redes a img {
  width: 80px;
  height: 80px;
  position: absolute; /* Posición absoluta para las imágenes */
  bottom: -5px;
  right: 200px;
  margin: 0;
  left: 1200px;
  z-index: 1000; /* Asegura que el encabezado esté por encima del contenido*/
}


